body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 16px;
}

.input-message{
    margin-top: 20px;
}

/* .receive-button{
    margin-top: 100px;
} */
.incoming-messages{
    margin-top: 70px;
}
.message-button-box>button{
    margin-top: 10px;
    position: absolute;
    width: 114px;
    height: 37px;
    left: 220px;
    font-weight: bold;
    background: #C4C4C4;
}
.message{
    width: 547px;
    height: 105px;
    background: #C4C4C4;
}
.message-sender{
    margin-left: 10px;
    font-weight: bold;
}
.message-content{
    margin-left: 10px;
}
.message-break{
   
}
#name-input-box{
    margin-top: 10px;
    width: 435px;
    height: 28px;
    left: 550px;
    top: 47px;
    background: #E5E5E5;
}
#message{
    margin-top: 10px;
    width: 547px;
    height: 105px;
    left: 438px;
    top: 346px;
    background: #C4C4C4;
}
#message-input-box{
    margin-top: 10px;
    width: 435px;
    height: 107px;
    left: 550px;
    top: 90px;
    background: #E5E5E5;
}

#r-button{
    position: absolute;
    width: 171px;
    height: 36px;
    /* left: 456px;
    top: 302px; */
    background: #C4C4C4;
}
#t-button{
    position: absolute;
    width: 171px;
    height: 36px;
    /* left: 456px;
    top: 302px; */
    background: #C4C4C4;
}

